/* Example styles for better visibility */
body{
    background: #92cbf9;
}
.main-container {
    color: #333; /* Dark font color for better readability */
    font-family: Arial, sans-serif;
    background: #92cbf9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

h1 {
    color: #6f87f0;
    font-size: 2rem;
}

.posts-container .post {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 75vw;
    background: #ccfbff;
    box-shadow: 5px 5px 0  #288ff6;
}
.title
{
    color: #246be6;
}

.post h2 {
    color: #444;
    font-size: 1.5rem;
}

.post p {
    color: #555;
    line-height: 1.6;
}
.post-image {
    width: 100%;
    height: auto;
    max-width: 600px; /* Set a max width for the image */
    margin: 10px 0;
    border-radius: 8px; /* Optional: add some rounding to the image */
}
